/* p{
    color: red;
}
article{
    background: yellow;
}
h2{
    color: rgb(0, 89, 45);
}
body{
    background: #CC3373;
} */
 *{
    color: brown;
 }
.caja1{
    width: 150px;
    height: 150px;
    background-color: rgb(12, 12, 12);
}
.caja2{
    width: 150px;
    height: 150px;
    background-color: green;
}
.caja3{
    width: 150px;
    height: 150px;
    background: hsl(69, 70%, 50%);
}
a[title]{
    color: orange;
}
button:hover{
    background-color: aqua;
}
input:disabled{
    border: 2px solid orangered;
}
#foo{
    color: yellow;
}

.abuelo .nieto{
    color: red;
}
.hijo, .nieto{
    color: aqua;
}
.abuelo>div{
    color: green;
}
.hermano1~div{
    color: violet;
}
hr{
    padding: 0.5px;
    background-color: yellow;
}

.foo{
    color: blue;
}
#bar{
    color: red;
}
div{
    background-color: #000;
}
#outer a{
    background-color: rebeccapurple;
    color: white;
}
#outer #inner a{
    background-color: aqua;
}